@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



html {
  scroll-behavior: smooth;
}


body {
  line-height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  background-color: #ffeede;
}

.flip {
  background-color: transparent;
  width: 30%;
  height: 600px;
  perspective: 1000px;
}

.flip-mobile {
  background-color: transparent;
  width: 80%;
  height: 600px;
  perspective: 1000px;
}

.flip-inside {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip:hover .flip-inside {
  transform: rotateY(180deg);
}

.flip-mobile:hover .flip-inside {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #d5c6b3;
  color: white;
  transform: rotateY(180deg);
}